# Environment & secrets
.vercel
.env*

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
.env/

# Distribution / build
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# ML artifacts (optional if you don't want to store trained models)
*.joblib

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/